body {
  margin: 0;
}
 /* component Logo */
.logo {
  margin-top: 10px;
  margin-left: 10px;
}
.header {
  display: flex;    
}
.namePark {
  display: flex;   
  margin-left: 10px;
  text-transform: uppercase;
}
.heading {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #7a6f67;
  font-size: 20px;    
}
/* component Weather */
.logoWeather{
  display: flex;
}
.weather {
  display: flex;
  margin-left: 100px;  
}
.correct{
  color:#105157;
  width: 600px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;  
}
form{
  display: flex;
  flex-direction: column;
}
.search{
  width: 120px;
  padding: 10px;
  font-family: "Open Sans", serif;
  font-weight: 800;
  font-style: bold;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  color: #105157;  
}
.ref {
  margin-top: 5px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 15px;
  border: 1px solid #105157;
  background-color: white;
  color: #7a6f67;
  border-radius: 10px;
}
.forecast{
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 600px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 15px;
  color: #105157;
}
.date{
  font-weight: 800;
}
/* component App.jsx */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pageMenu {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;   
  margin: auto;
}
.page {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #7a6f67;
  text-decoration: none;
}
/* component Landscape.js*/
.landscape {
  display: flex;
  height: 600px;
  margin-top: 20px;
}
.mainPhoto {
  width: 100%;
  opacity: 0.7;  
  z-index: -1;   
}
.headline {
  position: absolute;
  top: 300px;
  left: 100px;
  text-transform: uppercase;
  font-family: "Open Sans", serif;
  color: #813b40;   
  font-size: 30px; 
}
/*Home */
.summary {
  display: flex;
  background-color:#959d93;
  padding: 30px;
  
}
.summaryText{
  text-align: center;
  margin: auto;
  color: #f2fbff;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.container-story{
  display: flex;
  justify-content: space-around;
}
.eachStory{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:300px;
}
.storyHeadliner{
  font-family: "Open Sans", sans-serif;
  color: #7a6f67;
  font-style: italic;
}
.textStory {
  font-family: "Open Sans", sans-serif;
  color: #824b58;
  font-size: 20px;
}
.show {
  background-color: white; 
  color: #959d93;
  font-family: "Open Sans", serif;
  font-size: 15px;
  border:1px solid #959d93;
  padding: 5px;
}
.elem{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
/*GreenHouse */
.numbers, .question {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.headlineNumbers, .headlineQuestion,.headlineCulinary {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #7a6f67;
  font-weight: bold;
  font-style: italic;
}
.facts {
  display: flex;
  justify-content: space-around;
}
.container{
  flex-direction: column;
  text-align: center;
}
.fact {
  font-family: "Alice", serif;
  text-transform: uppercase;
  color: #7a6f67;
}
.slides {
  display: flex; 
  width:65%;
  margin: auto;
  flex-direction: column;
  align-items: center; 
} 
.carusel {
  display: flex;
}
.titleSlides,.titleFood {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #7a6f67;
  font-weight: bold;
  font-style: italic;
}
.textCarusel {
  text-align: center;
  font-family: "Alice", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.btn-slides{
  width:50px;
  background-color:  #959d93; 
  border: none;
  font-family: "Alice", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color:white;   
}
/* component Restaurant */
.headline-restaurant{
  color: #d8d7de
  }
.foodQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 40%;
  padding: 10px;
  border: 1px solid;
}
.foodContainer {
  margin-left:100px;
  margin-top: 50px;
}
.foodList {
  display: flex;
}  
.foodDescription {
  display: flex;
  flex-direction: column;
  margin-left: 10px;  
}
.textFood, .findFood {
  font-family: "Alice", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.containerFood {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.findFood {
  font-size: 20px ;
} 
.btn-restaurant {
  padding: 10px 10px 10px 10px;
  background-color: #959d93; 
  color: #d8d7de;
  font-family: "Alice", serif;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.show {
  background-color: white; 
  color: #959d93;
  font-family: "Alice", serif;
  font-size: 15px;
  border:1px solid #959d93;
  padding: 5px;
}
.link:visited {
  text-decoration: none;
  color: #f2fbff;
}
button:hover{
  cursor: pointer;
}
/* component Souvenirs */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}
.product-card {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #824b58; 
  padding: 10px;
}
/* component Buttons.js */
.btn-container {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
  margin-top: 30px;
}
.btn {
  padding: 10px;
  background-color: #959d93; 
  color: #d8d7de;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border: none;
}
/*component Footer.js  */
footer { 
  margin-top: 20px; 
  background-color:#959d93;
}
.footerTitle {
  display: flex;
  justify-content: space-around;
  color: #7b4e49;
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
} 
.icons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (max-width: 1200px){
  .container-story,.facts{
    flex-direction: column;
    align-items: center;
  }
  .forecast{
    width: 400px;
  }
  .foodContainer{
    margin-left: 50px;
  }
  .btn-container {
    width: 600px;
  }
  .btn-restaurant {
    font-size: 15px;
    padding: 5px;
  }
  .numbers, .question {
    font-size: 15px;
  }
}

@media (max-width:500px){
  .menu{
    flex-direction: column;
  } 
  .weather,.forecast{
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
  
  .btn-container {
    flex-direction: column;
    width: 100px;
    padding: 20px;
  }
  .headline{
    top: 530px;
  }

}
